bind_addr = "0.0.0.0"
plugin_dir = "/usr/local/libexec/nomad/plugins"
plugin "nomad-pot-driver" {}
datacenter = "minipot"

advertise {
  # This should be the IP of THIS MACHINE and must be routable by every node
  # in your cluster
  http = "127.0.0.1:4646"
}

server {
  enabled = true
  bootstrap_expect = 1
}

client {
  enabled = true
  options {
    "driver.raw_exec.enable" = "1"
  }
}

consul {
  # The address to the Consul agent.
  address = "127.0.0.1:8500"

  # The service name to register the server and client with Consul.
  server_service_name = "minipot-server"
  client_service_name = "minipot-client"

  # Enables automatically registering the services.
  auto_advertise = true

  # Enabling the server and client to bootstrap using Consul.
  server_auto_join = false
  client_auto_join = true
}

enable_syslog=true
log_level="INFO"
syslog_facility="LOCAL1"

