[entryPoints]
  [entryPoints.http]
    address = "0.0.0.0:8080"
  [entryPoints.traefik]
    address = "0.0.0.0:9002"

[log]
  filePath = "/var/log/traefik.log"
  format = "common"
  level="INFO"

[accessLog]
  filePath = "/var/log/traefik-access.log"
  format = "common"

[api]
  insecure = true
  dashboard = true

[providers]
  [providers.consulCatalog]
    exposedByDefault = true
    defaultRule = "Host(`{{ .Name }}.minipot`)"
    stale = false
    [providers.consulCatalog.endpoint]
    address = "http://127.0.0.1:8500"
